body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
}
.wrapper{
    width: 320px;
    height: 480px;
    position:relative;
    overflow:scroll;
}
.loading{
    background: url(../images/loading-screen.jpg) no-repeat center top;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    position:relative;
    display:block;
    z-index: 2;
}
.menu{
    position:absolute;
    top: 0;
    z-index: 1;
}
.piece{
    width: 100%;
    margin: 0;
}
.piece img{
    max-width: 100%;
}
